<!DOCTYPE html>
<html>
<head>
    <title>material supplire registration form</title>
</head>
<body>
    <h1>Choose an option:</h1>
    <form action="/process" method="POST" >
        <label>
            <input type="radio" name="option" value="supplire">
            
        </label><br>
        
        <label>
            <input type="radio" name="option" value="driver">
            Become a supplire
        </label><br>
        
        <label>
            <input type="radio" name="option" value="both">
            
        </label><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>