<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>search driver by distric/town</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form method="POST" action="/search_driversby">

<select name="district">
<option>Wakiso</option>
<option>Kampala</option>
</select>

<select name="town">
<option>Kira</option>
<option>Ntinda</option>
<option>kampala</option>
<option>Ntinda</option>
<option>Ntinda</option>
</select>

<button type="submit">Search Drivers</button>

</form>
</body>
</html>